/* 
  Rmarkdown font type
  https://forum.posit.co/t/rmarkdown-font-type/123403
  
  How to import fonts in CSS?
  https://stackoverflow.com/a/45886787/3806250
  
  R Markdown與TeX
  https://hackmd.io/@yueswater/TeX_with_R_Markdown 
  
  Chapter 10 Make it fancier
  https://rstudio4edu.github.io/rstudio4edu-book/doc-fancy.html
  
  How to include @font-face within style tag of RMarkdown?
  https://stackoverflow.com/a/61537209/3806250
  
  🎨 Step right into the colorful realm of R Markdown Themes! 🌸 😄
  https://rpubs.com/ranydc/rmarkdown_themes
  
  CSS in R Markdown
  https://geomoer.github.io/moer-base-r/unit99/sl03_css.html
  
  Markdown 设置字体大小颜色和背景色
  https://xujinzh.github.io/2021/04/27/markdown-font-size-color/index.html
*/

<style type="text/css">


body {
  /*礼逆袭中科红旗操作系统
  background-image: url('/home/englianhu/文档/猫城/RedFlag-Linux/诸子百家考工记/数术家.png'); 
  */
  background-image: url('/home/englianhu/zhuzibaijia.png'); 
  background-repeat: no-repeat; 
  /*background-size: 100%;*/
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed; 
}

p {
  color: brown;
}

div {
  background-color: rgba(255, 255, 255, 0.35)   /* 35% opaque white */;
  padding: 0.25em;
}
</style>

